@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-gradient-overlay {
  position: relative;
}

.bg-gradient-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
  z-index: 0;
}

.nav-links1 li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #ffa645;
  display: block;
  margin: auto;
  transition: width 0.5s;
}

.nav-links1 li:hover::after {
  width: 100%;
}

.hero-btn
{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 24px;
	background: transparent;
	position: relative;
	cursor: pointer;
}

.hero-btn:hover
{
	border: 1px solid #000000;
	background: #000000;
	transition: 1s;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.no-scroll {
  overflow: hidden; /* Hide scrollbars */
  overflow-y: scroll; /* Add vertical scrolling */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Firefox */
.no-scroll::-webkit-scrollbar {
  display: none;
}

.albumImage{
  height: 402px;
  width: 402px;
}

@media (max-width: 800px){
.albumImage:hover{
  transform: scale(1.2);
  transition: transform 300ms ease;
}
}

.container {
  position: relative;
  overflow: visible;
  width: 402px;
}

.hide1 {
  display: none;
  transform: scale(0);
}

.hide2 {
  display: none;
  transform: scale(0);
}

.hide3 {
  display: none;
  transform: scale(0);
}

.hide4 {
  display: none;
  transform: scale(0);
}

.hide5 {
  display: none;
  transform: scale(0);
}

@media (min-width: 800px)
{
  .albumImage:hover{
    cursor: pointer;
  }
  .container:hover{
    width: 804px;
  }
  
  .container:hover .hide1{
    display: block;
    transform: scale(4) translateX(+80px);
  }
  
  .container .hide1:hover{
    display: block;
    transform: scale(5) translateX(+66px);
  }
  
  .icon-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem; /* Adjust to match the icon size */
    width: 2rem; /* Adjust to match the icon size */
    background: transparent;
  }
  
  .container:hover .hide2{
    display: block;
    transform: scale(4);
  }
  
  .container .hide2:hover{
    display: block;
    transform: scale(5);
  }

  .container:hover .hide3{
    display: block;
    transform: scale(4) translateX(+40px);
  }
  
  .container .hide3:hover{
    display: block;
    transform: scale(5) translateX(+33px);
  }

  .container:hover .hide4{
    display: block;
    transform: scale(4) translateX(-40px);
  }
  
  .container .hide4:hover{
    display: block;
    transform: scale(5) translateX(-33px);
  }

  .container:hover .hide5{
    display: block;
    transform: scale(4) translateX(-80px);
  }
  
  .container .hide5:hover{
    display: block;
    transform: scale(5) translateX(-66px);
  }
}